---
interface Props {
	title: string;
	description?: string;
}

const { title, description="Preserving knowledge across all scales, all spaces and times, and all logics." } = Astro.props;
---

<meta name="description" content={description} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"></script>
		<meta charset="UTF-8" />
		<meta name="description" content="Journal of Terminal Sciences" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--primary-blue: #121C35;
		--accent-cyan: #2F839E;
		--bg-color: #F6F8FB;
		--text-main: #333;
		--text-muted: #666;
		--blue1: #91B9E2;
		--gray1: #6F6D81;
		--blue2: #99B2D2;
		--clear1: #FEFFFA;
		--blue3: #1C2139;
		--red1: #832B26;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: system-ui, -apple-system,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		background-color: var(--bg-color);
		color: var(--text-main);
		line-height: 1.6;
	}
</style>